.jumbotron{
  background-color: rgb(131, 157, 154);
}
.row{
  margin-top:5px;
  margin-bottom: 5px;
}
.hour{
  background-color: rgb(100, 111, 75);
  color: white;
}
.saveBtn{
  background-color: rgb(123, 178, 217);
}
.body{
  background-color: rgb(191, 210, 191);
}
.past{
  background-color: rgb(165, 42, 42);
}
.present{
  background-color: rgb(143, 188, 143);
}
.future{
  background-color: rgb(238, 210, 105);
}