.card{
  background-color: rgb(131, 157, 154);
  margin: 0px;
  padding: 1.5rem;
}
.hour{
  background-color: rgb(100, 111, 75);
  color: white;
  text-align: center;
}
.saveBtn{
  background-color: rgb(123, 178, 217);
}
.body{
  background-color: rgb(191, 210, 191);
}
.past{
  background-color: rgb(165, 42, 42);
}
.present{
  background-color: rgb(143, 188, 143);
}
.future{
  background-color: rgb(238, 210, 105);
}
.t{
  height: 80px;
}